{{#if editing}}
  {{input enter=(action "handleInputEnter")
          escape-press=(action "stopEditing")
          focus-out=(action "handleInputEnter")
          value=(readonly attrs.name)}}
{{else}}
  {{#if attrs.completed}}
    <span ondblclick={{action (action "startEditing")}} style="text-decoration:line-through;">{{attrs.name}}</span>
  {{else}}
    <span ondblclick={{action (action "startEditing")}}>{{attrs.name}}</span>
  {{/if}}
{{/if}}
