<header class="todo-header">
  <h1 id="title" class="todo-header__title app-title">todos</h1>
</header>

<div class="todo-container">
  <div class="todo-container__add-task-row">
    {{#if numTasks}}
      <i class="fa fa-chevron-down add-task-row__toggle-complete-all-button"
         onclick={{action (action "toggleCompleteAll")}}></i>
    {{/if}}
    {{new-task-input enter=(action "handleInputEnter")}}
  </div>

  {{#if numTasks}}
    {{outlet}}
  {{/if}}

  {{#if numTasks}}
    <div class="todo-container__footer">
      <div class="todo-container__footer--item-container todo-container__footer__remaining-task-count-container">
        <p class="todo-container__footer__remaining-task-count">{{numActiveTasks}} items left</p>
      </div>

      <div class="todo-container__footer--item-container todo-container__footer__task-status-filter-list-container">
        <ul class="todo-container__footer__task-status-filter-list">
          <li>{{link-to "All" "index"}}</li>
          <li>{{link-to "Active" "active"}}</li>
          <li>{{link-to "Completed" "completed"}}</li>
        </ul>
      </div>

      <div class="todo-container__footer--item-container todo-container__footer__clear-completed-button-container">
        {{#if completedTasksExist}}
          <div class="todo-container__footer__clear-completed-button" onclick={{action (action "removeCompletedTasks")}}>
            Clear completed (dynamic)
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>

<footer class="app-footer">
  <p class="app-footer__text">Double-click to edit a todo</p>
  <p class="app-footer__text">Created by Tom Dale, Addy Osmani</p>
  <p class="app-footer__text">Updated by Cory Forsyth</p>
  <p class="app-footer__text">Part of TodoMVC</p>
</footer>
