<header class="todo-header">
  <h1 id="title" class="todo-header__title app-title">todos</h1>
</header>

<div class="todo-container">
  <div class="todo-container__add-task-row">
    {{#if numTasks}}
      <i class="fa fa-chevron-down"
         onclick={{action (action "toggleCompleteAll")}}></i>
    {{/if}}
    {{new-task-input enter=(action "handleInputEnter")}}
  </div>

  {{#if numTasks}}
    {{outlet}}
  {{/if}}

  {{#if numTasks}}
    <div class="todo-footer">
      <p class="footer__remaining-task-count">{{numActiveTasks}} items left</p>
      <ul class="footer__task-status-filter-list">
        <li>{{link-to "All" "index"}}</li>
        <li>{{link-to "Active" "active"}}</li>
        <li>{{link-to "Completed" "completed"}}</li>
      </ul>

      {{#if completedTasksExist}}
        <div class="footer__clear-completed-button" onclick={{action (action "removeCompletedTasks")}}>
          Clear completed (dynamic)
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>

<footer class="app-footer">
  <p class="app-footer__text">Double-click to edit a todo</p>
  <p class="app-footer__text">Created by Tom Dale, Addy Osmani</p>
  <p class="app-footer__text">Updated by Cory Forsyth</p>
  <p class="app-footer__text">Part of TodoMVC</p>
</footer>
