<header>
  <h2 id="title" class="app-title">todos</h2>
</header>

<div>
  <div>
    <span onclick={{action (action "toggleCompleteAll")}}>[ v ]</span>
    {{new-task-input enter=(action "handleInputEnter")}}
  </div>

  {{outlet}}

  <footer>
    <p>{{numActiveTasks}} items left</p>
    <ul>
      <li>{{link-to "All" "index"}}</li>
      <li>{{link-to "Active" "active"}}</li>
      <li>{{link-to "Completed" "completed"}}</li>
    </ul>

    {{#if completedTasksExist}}
      <div onclick={{action (action "removeCompletedTasks")}}>
        Clear completed (dynamic)
      </div>
    {{/if}}
  </footer>
</div>
