<h2 id="title">todos</h2>

<div>
  <div>
    <span onclick={{action (action "completeAllTasks")}}>[ complete all ]</span>
    <input type="text" placeholder="What needs to be done?">
  </div>

  {{outlet}}

  <footer>
    <p>X items left</p>
    <ul>
      <li>{{link-to "All" "index"}}</li>
      <li>{{link-to "Active" "active"}}</li>
      <li>{{link-to "Completed" "completed"}}</li>
    </ul>

    {{#if completedTasksExist}}
      <div onclick={{action (action "removeCompletedTasks")}}>
        Clear completed (dynamic)
      </div>
    {{/if}}
  </footer>
</div>
